REST_COUNTRIES_API_KEY=your_api_key
REST_COUNTRIES_BASE_URL=https://api.restcountries.com/countries/v5

MINIO_ROOT_USER=your_minio_username
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_ENDPOINT=localhost:9000
MINIO_AIRFLOW_ENDPOINT=host.docker.internal:9000
MINIO_BUCKET=triplens-raw

SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_WAREHOUSE=TRIPLENS_WH
SNOWFLAKE_DATABASE=TRIPLENS_DB
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=SYSADMIN
